.causes {
    padding-top: 100px;
    // .causes__inner
    height: 858px;

    & .container {
        height: 100%;
    }

    &__inner {
        position: relative;
        display: flex;
        height: 100%;
        flex-direction: column;
    }

    // .causes__title

    &__title {
        text-align: center;
    }

    // .causes__items

    &__items {}

    // .causes__item

    &__item {
        border-radius: 30px;
        border: 3px solid rgba(190, 165, 125, 0.50);
        background: rgba(255, 242, 223, 0.31);
        box-shadow: 0px 4px 20px 0px rgba(190, 165, 125, 0.50);
        color: var(--banner-bg);
        width: 339px;
        height: 79px;
        text-align: center;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 45px;
        position: absolute;

        &:nth-child(1) {
            left: 8%;
            top: 57%;
        }

        &:nth-child(2) {
            left: 12%;
            top: 34%;
        }

        &:nth-child(3) {
            left: 33%;
            top: 17%;
        }

        &:nth-child(4) {
            right: 15%;
            top: 24%;
        }

        &:nth-child(5) {
            right: 5%;
            top: 48%;
        }
    }
}

.container {}

.title {}

.causes-img {

    // .causes-img__main

    &__main {
        & img {
            position: absolute;
            transform: rotate(-29.689deg) translate(-50%, -50%);
            left: 64%;
            top: 19%;
        }
    }
}

.causes-banner {
    margin-top: auto;
    position: relative;
    padding: 32px 10px 32px 0 ;
    background: #BEA57D;
    border-radius: 20px;
    // .causes-banner__img

    &__img {
        position: absolute;
        left: 7px;
        top: -78px;
    }

    // .causes-banner__text

    &__text {
        // text-align: center;
        text-align: left;
        padding-left: 159px;
        color: var(--white, #FFF);
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;

        & span {
            color: var(--white-light, #FFF2DF);
        }
    }
}