<section class="thanks">
    <div class="container">
        <div class="thanks__inner">
            <h2 class="thanks__title">Your order are currently being processed and will ship promptly</h2>
            <div class="thanks-order-info">
                <div class="thanks-order-info__item">
                    <div class="thanks-order-info__title">Order Placed:</div>
                    <div id="orderPlaced" class="thanks-order-info__descr">August 9, 2023</div>
                </div>
                <div class="thanks-order-info__item">
                    <div class="thanks-order-info__title">Order:</div>
                    <div id="refff" class="thanks-order-info__descr">#11111</div>
                </div>
            </div>
            <div class="thanks__content">
                <div class="thanks__left">
                    <div class="thanks__img">
                        <img src="images/thanks-img.png" alt="">
                    </div>
                    <div class="thanks__content__title">Hairo Nutrition DHT Blocker</div>
                </div>
                <div class="thanks__right">
                    <div class="thanks-shipping">
                        <div class="thanks-shipping__title">Shipping Info:</div>
                        <div class="thanks-shipping__cols">
                            <div class="thanks-shipping__col">
                                <span class="name3" title="name">Sergey</span>
                                <span class="lastname3" title="lastname">Murzak</span>
                                <span class="city3" title="city">New York City</span>
                                <span class="zip3" title="zip">10120</span>
                                <span class="address3" title="address">Broadway, suite 416</span>
                            </div>
                            <div class="thanks-shipping__col">
                                <span class="apt3" title="apt">10,2</span>
                                <span class="state3" title="state">NY</span>
                                <!-- <span>80291654323</span>
                                <span>oler@ingo.com</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>