<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer-cols">
                <div class="footer-col">
                    <div class="footer-col__text">
                        We are committed to maintaining <span>the highest quality</span> products and the utmost
                        integrity in
                        business practices. All our products are <span>GMP certified</span>, produced at FDA registered
                        facility,
                        which is the highest standard of testing in the supplement industry. It's also NON-GMO, Kosher,
                        Halal, Cruelty-Free
                    </div>

                </div>
                <div class="footer-col__warning">
                    <img src="images/warning-icon.svg" alt="">
                    <p>This product is not intended to diagnose, treat, cure, or prevent any disease.</p>
                </div>
            </div>
            <div class="footer-copyright">
                <p>© 2023 Hairo Nutrition DHT Blocker — All rights reserved. Customer Service: 1-XXX-XXX-XXXX</p>
                <div class="footer-copyright__items">
                    <div class="footer-copyright__item">
                        Terms & Conditions |
                    </div>
                    <div class="footer-copyright__item">
                        Privacy Policy |
                    </div>
                    <div class="footer-copyright__item">
                        Shipping Policy |
                    </div>
                    <div class="footer-copyright__item">
                        Return Policy
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>