<div class="shipping-hero">
    <div class="shipping-container">
        <div class="shipping-hero__inner">
            <div class="shipping-certificates">
                <div class="shipping-certificates__item">
                    <img src="images/shipping-certificate-1.svg" alt="">
                </div>
                <div class="shipping-certificates__item">
                    <img src="images/shipping-certificate-2.svg" alt="">
                </div>
                <div class="shipping-certificates__item">
                    <img src="images/shipping-certificate-3.svg" alt="">
                </div>
                <div class="shipping-certificates__item">
                    <img src="images/shipping-certificate-4.svg" alt="">
                </div>
                <div class="shipping-certificates__item">
                    <img src="images/shipping-certificate-5.svg" alt="">
                </div>
                <div class="shipping-certificates__item">
                    <img src="images/shipping-certificate-6.svg" alt="">
                </div>
                <div class="shipping-certificates__item">
                    <img src="images/shipping-certificate-7.svg" alt="">
                </div>
                <div class="shipping-certificates__item">
                    <img src="images/shipping-certificate-8.svg" alt="">
                </div>
                <div class="shipping-certificates__item">
                    <img src="images/shipping-certificate-9.svg" alt="">
                </div>
            </div>
            <div class="shipping-steps">
                <a class="shipping__step" href="/shipping.html">
                    <span>1</span>
                    <p>Shipping Info</p>
                </a>
                <a class="shipping__step">
                    <span>2</span>
                    <p>Confirm Order</p>
                </a>
                <a class="shipping__step">
                    <span>3</span>
                    <p>Order Summary</p>
                </a>
            </div>
            <h2 class="shipping__title title">
                TELL US WHERE <span>TO SEND</span> YOUR PACKAGE!
            </h2>
        </div>
    </div>
</div>