<div class="shipping-hero">
    <div class="shipping-container">
        <div class="shipping-hero__inner">
            <div class="shipping-certificates">
                <div class="shipping-certificates__item">
                    <img src="images/shipping-certificate-1.svg" alt="">
                </div>
                <div class="shipping-certificates__item">
                    <img src="images/shipping-certificate-2.svg" alt="">
                </div>
                <div class="shipping-certificates__item">
                    <img src="images/shipping-certificate-3.svg" alt="">
                </div>
                <div class="shipping-certificates__item">
                    <img src="images/shipping-certificate-4.svg" alt="">
                </div>
                <div class="shipping-certificates__item">
                    <img src="images/shipping-certificate-5.svg" alt="">
                </div>
                <div class="shipping-certificates__item">
                    <img src="images/shipping-certificate-6.svg" alt="">
                </div>
                <div class="shipping-certificates__item">
                    <img src="images/shipping-certificate-7.svg" alt="">
                </div>
                <div class="shipping-certificates__item">
                    <img src="images/shipping-certificate-8.svg" alt="">
                </div>
                <div class="shipping-certificates__item">
                    <img src="images/shipping-certificate-9.svg" alt="">
                </div>
            </div>
            <div class="shipping-steps">
                <a class="shipping__step" href="/shipping.html">
                    <span>1</span>
                    <p>Shipping Info</p>
                </a>
                <a class="shipping__step">
                    <span>2</span>
                    <p>Confirm Order</p>
                </a>
                <a class="shipping__step">
                    <span>3</span>
                    <p>Order Summary</p>
                </a>
            </div>
            <h2 class="shipping__title title">
                <span>Great Job!</span> You're taking your first step towards a <span>better you</span>!
            </h2>
            <div class="shipping__date">
                <h2>Choose your kit and place your order:</h2>
                <p>If you order in the next 1 hour and 56 minutes, your order is scheduled to arrive by <span
                        id="deliveryDate" class="js-date delivery-date">XX.XX.XX</span></p>
            </div>
        </div>
    </div>
</div>