@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Public Sans', sans-serif;
}

.container {
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 40px;
}

.main {
    overflow: hidden;
}

.title {
    color: var(--black);

    /* H_1 */
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    & span {
        color: var(--red);
    }
}

.btn {
    animation: animate-pulse 3s linear infinite;
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
}

.popup.open {
    visibility: visible;
    opacity: 1;
}

.popup__bg {
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
}

.popup__body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.popup__content {
    position: relative;
    padding: 40px;
    max-width: 1200px;
    background: #fff;
    border-radius: 20px;
    z-index: 5;
}

.popup__title {
    text-align: center;
}

.popup__text a {
    color: #DD6A1C;
}

.popup__text p {
    margin-bottom: 10px;
}

.popup__text h3,
.popup__text .title_3 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.loading_wr {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999999;
    display: flex;
    opacity: 0;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    background: #000000e0;
    transition: all .5s ease-in;
}

.spinner_wr {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: white;
    animation: spinned 2s ease infinite;
    transition: all .2s ease-in;
}

@keyframes spinned {
    0% {
        border-radius: 0;
        transform: rotate(90deg);
        background: none;
        border: 20px solid white;
    }

    25% {
        transform: scale(1.5);
    }

    50% {
        transform: rotate(270deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0);
        border-radius: 100%;
        background: white;
        border: unset;
    }
}



.overlay2 {
    position: fixed;
    z-index: 999999999999999999999999999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in;
}

.modal2 {
    width: 60vw;
    position: relative;
    top: 43vh;
    background: white;
    height: fit-content;
    color: black;
    padding: 16px 30px 30px 30px;
    border-radius: 10px;
    font-size: 16px;
}

.modal_header span {
    display: block;
    height: 21px;
    width: 0;
    border: 2px solid;
    cursor: pointer;
}

.modal_header span:last-child {
    transform: rotate(310deg);
    position: relative;
    right: 4px;
    bottom: 0px;
}

.modal_header span:first-child {
    transform: rotate(50deg);
}

.modal_header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}


.loading_wr-active {
    opacity: 1;
    pointer-events: unset;
}

.error123 input {
    border: 2px solid #ff6d6d;
}

@keyframes animate-pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #831717, 0 0 0 0 #831717;
        box-shadow: 0 0 0 0 #831717, 0 0 0 0 #831717;
    }

    40% {
        -webkit-box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 0 #831717;
        box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 0 #831717;
    }

    80% {
        -webkit-box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
        box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
        box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
    }
}