// ********************** Breakpoints ******************** //
:root {
    --black: #080F0F;
    --red: #831717;
    --banner-bg: #BEA57D;
    --gray: #8B8B8B;
    --white: #fff;
    --white-light: #FFF2DF;
}


$mw-big: 1750px;
$mw: 1330px;