<section class="action">
    <div class="container">
        <div class="action__inner">
            <div class="action__left">
                <p class="title action__subtitle">Don't wait, start your journey to <span>healthy hair</span></p>
                <h2 class="action__title">
                    today!
                </h2>
                <div class="action-img-mobile">
                    <h2 class="action-advantages-title">Hairo Nutrition DHT Blocker </h2>
                    <p class="action-advantages__descr">is a revolutionary hair health product that contains a
                        unique
                        combination of natural ingredients</p>
                    <div class="action-img-mobile__wrapper">
                        <div class="action__img">
                            <img src="images/hero-img.png" alt="">
                        </div>
                        <div class="action-advantages">

                            <div class="action-advantages__item">
                                <div class="action-advantages__img">
                                    <img src="images/white-pill.png" alt="">
                                </div>
                                <h2 class="action-advantages__title">Accelerates hair growth</h2>
                            </div>
                            <div class="action-advantages__item">
                                <div class="action-advantages__img">
                                    <img src="images/white-pill.png" alt="">
                                    <img src="images/white-pill.png" alt="">
                                </div>
                                <h2 class="action-advantages__title">Prevents hair loss</h2>
                            </div>
                            <div class="action-advantages__item">
                                <div class="action-advantages__img">
                                    <img src="images/white-pill.png" alt="">
                                    <img src="images/white-pill.png" alt="">
                                    <img src="images/white-pill.png" alt="">
                                </div>
                                <h2 class="action-advantages__title">Improves scalp health</h2>
                            </div>
                            <div class="action-advantages__item">
                                <div class="action-advantages__img">
                                    <img src="images/white-pill.png" alt="">
                                    <img src="images/white-pill.png" alt="">
                                    <img src="images/white-pill.png" alt="">
                                    <img src="images/white-pill.png" alt="">
                                </div>
                                <h2 class="action-advantages__title">Protects hair from environmental damage</h2>
                            </div>
                            <div class="action-advantages__item">
                                <div class="action-advantages__img">
                                    <img src="images/white-pill.png" alt="">
                                    <img src="images/white-pill.png" alt="">
                                    <img src="images/white-pill.png" alt="">
                                    <img src="images/white-pill.png" alt="">
                                    <img src="images/white-pill.png" alt="">
                                </div>
                                <h2 class="action-advantages__title">Strengthens hair structure</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="action__btn btn">order now</a>
            </div>
            <div class="action__right">
                <div class="action__img">
                    <img src="images/hero-img.png" alt="">
                </div>
                <div class="action-advantages">
                    <h2 class="action-advantages-title">Hairo Nutrition DHT Blocker </h2>
                    <p class="action-advantages__descr">is a revolutionary hair health product that contains a
                        unique
                        combination of natural ingredients</p>
                    <div class="action-advantages__item">
                        <div class="action-advantages__img">
                            <img src="images/white-pill.png" alt="">
                        </div>
                        <h2 class="action-advantages__title">Accelerates hair growth</h2>
                    </div>
                    <div class="action-advantages__item">
                        <div class="action-advantages__img">
                            <img src="images/white-pill.png" alt="">
                            <img src="images/white-pill.png" alt="">
                        </div>
                        <h2 class="action-advantages__title">Prevents hair loss</h2>
                    </div>
                    <div class="action-advantages__item">
                        <div class="action-advantages__img">
                            <img src="images/white-pill.png" alt="">
                            <img src="images/white-pill.png" alt="">
                            <img src="images/white-pill.png" alt="">
                        </div>
                        <h2 class="action-advantages__title">Improves scalp health</h2>
                    </div>
                    <div class="action-advantages__item">
                        <div class="action-advantages__img">
                            <img src="images/white-pill.png" alt="">
                            <img src="images/white-pill.png" alt="">
                            <img src="images/white-pill.png" alt="">
                            <img src="images/white-pill.png" alt="">
                        </div>
                        <h2 class="action-advantages__title">Protects hair from environmental damage</h2>
                    </div>
                    <div class="action-advantages__item">
                        <div class="action-advantages__img">
                            <img src="images/white-pill.png" alt="">
                            <img src="images/white-pill.png" alt="">
                            <img src="images/white-pill.png" alt="">
                            <img src="images/white-pill.png" alt="">
                            <img src="images/white-pill.png" alt="">
                        </div>
                        <h2 class="action-advantages__title">Strengthens hair structure</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>