<section class="advantages">
    <div class="container">
        <h2 class="advantages__title title">The action principle of Hairo Nutrition DHT Blocker and why <span>it's
                superior to similar products</span>?</h2>
        <div class="advantages__inner">

            <div class="advantages__items">
                <div class="advantages-item">
                    <div class="advantages-item__icon">
                        <img src="images/advantages-icon-1.svg" alt="">
                    </div>
                    <div class="advantages-item__descr">
                        <span>Improves hair growth</span> in thinning areas and acts as a protective barrier for the
                        scalp, guarding
                        against damage
                    </div>
                </div>
                <div class="advantages-item">
                    <div class="advantages-item__icon">
                        <img src="images/advantages-icon-2.svg" alt="">
                    </div>
                    <div class="advantages-item__descr">
                        <span>Stimulates hair follicles</span> at a cellular level and revitalizes them from within with
                        a carefully
                        selected blend of nutrients
                    </div>
                </div>
                <div class="advantages-item">
                    <div class="advantages-item__icon">
                        <img src="images/advantages-icon-3.svg" alt="">
                    </div>
                    <div class="advantages-item__descr">
                        <span>Prevents hair loss</span> by strengthening and regenerating hair follicles. It creates a
                        shield that
                        protects against the negative effects of environmental factors
                    </div>
                </div>
            </div>
            <div class="advantages__img">
                <img src="images/advantages-img.png" alt="">
            </div>
        </div>
    </div>
</section>