<section class="causes">
    <div class="container">
        <div class="causes__inner">
            <h2 class="causes__title title">Causes of <span>hair loss</span> include</h2>
            <div class="causes__items">
                <div class="causes__item">Stress</div>
                <div class="causes__item">Hormonal imbalance</div>
                <div class="causes__item">Genetic inheritance</div>
                <div class="causes__item">Poor nutrition</div>
                <div class="causes__item">Exposure to toxic factors</div>
            </div>
            <div class="causes-img__main">
                <img src="images/causes-img-main.png" alt="">
            </div>
            <div class="causes-banner">
                <div class="causes-banner__img">
                    <img src="images/causes-product.png" alt="">
                </div>
                <div class="causes-banner__text">With <span>Hairo Nutrition DHT Blocker</span>, it's easy to fix that!
                </div>
            </div>
        </div>
    </div>
</section>