<section class="healthy">
    <div class="container">
        <div class="healthy__inner">
            <div class="healthy__text">
                <h2 class="healthy__title title">
                    Healthy and long hair is no longer just a dream, <span>it's a reality!</span>
                </h2>
                <p class="healthy__descr">
                    With Hairo Nutrition DHT Blocker, you can start your journey to beautiful and healthy hair today. It
                    will help you achieve not only a stunning hairstyle but also admiration from those around you.
                </p>
                <div class="healthy-check">
                    <div class="healthy-check__img">
                        <img src="images/healthy-check.png" alt="">
                    </div>
                    <p class="healthy-check__descr">Our product has undergone numerous clinical trials, and we take
                        pride in
                        its effectiveness.
                        Don't miss your chance on the way to healthy hair!</p>
                </div>
            </div>
            <div class="healthy-img">
                <img class="healthy-img__main" src="images/healthy-img.png" alt="">
                <div class="healthy-certificates">
                    <div class="healthy-certificates__item">
                        <img src="images/sertificates-1.png" alt="">
                    </div>
                    <div class="healthy-certificates__item">
                        <img src="images/sertificates-2.png" alt="">
                    </div>
                    <div class="healthy-certificates__item">
                        <img src="images/sertificates-3.png" alt="">
                    </div>
                    <div class="healthy-certificates__item">
                        <img src="images/sertificates-4.png" alt="">
                    </div>
                    <div class="healthy-certificates__item">
                        <img src="images/sertificates-5.png" alt="">
                    </div>
                    <div class="healthy-certificates__item">
                        <img src="images/sertificates-6.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>