<section class="manual">
    <div class="container">
        <h2 class="manual__title title">How to take Hairo Nutrition DHT Blocker?</h2>
        <div class="manual__items">
            <div class="manual__item">
                Take 1 capsule with breakfast
            </div>
            <div class="manual__img">
                <img src="images/manual-img.png" alt="">
            </div>
            <div class="manual__item">
                1 capsule with lunch
            </div>
        </div>
        <div class="manual-banner">
            Yes, it's that simple!
        </div>
    </div>
</section>