<section class="promotion">
    <div class="container">
        <div class="promotion__inner">
            <div class="promotion__img">
                <img src="images/promotion-img.png" alt="">
            </div>
            <div class="promotion__text">
                <p class="promotion__info">Universal formula for both men and women!</p>
                <p class="promotion__subtitle">A special promotion is activated </p>
                <h2 class="promotion__title">just for you! </h2>
                <div class="promotion__descr">
                    When you order 2 bottles of Hairo Nutrition DHT Blocker, you'll <span>receive additional bottles for
                        free!</span>
                </div>
                <div class="promotion__img-mobile">
                    <img src="images/promotion-img.png" alt="">
                </div>
                <a class="promotion__btn btn">
                    order now
                </a>
            </div>
        </div>
    </div>
</section>